{% extends 'base.html' %}

{% block title %}
 Save ChatGPT chats automatically
{% endblock title %}

{% block header %}
<h1>Save ChatGPT chats automatically</h1>
{% endblock header %}

{% block content %}

Easily save yout ChatGPT chats.

<h2>How to use</h2>

<p>
1. Download the chrome extension from the <a href="https://github.com/chrisjsimpson/container-qqm9ets/releases/latest">latest release</a>
</p>

<p>
2. Unzip, open Chrome and <a href="https://developer.chrome.com/docs/extensions/mv3/getstarted/development-basics/#load-unpacked">load an unpacked extension</a>
</p>

<p>
3. Start a chat on <a href="https://chat.openai.com/chat" target="_blank">chat.openai.com</a>, and when you want to save the chat, open the extension and click 'Save this chat'.
{% endblock %}
</p>
